.cover {
  width: 100%;
  max-width: 1184px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20%;
  margin: 0 auto;
  margin-bottom: var(--section-bottom-gutter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

.cover::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #2A2C2F;
  -webkit-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  z-index: 1;
  opacity: .3;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width:1024px) {
  .cover {
    margin-left: calc(-1 * var(--container));
    margin-right: 0;
    width: 100vw;
  }
}

@media screen and (max-width:767px) {
  .cover {
    padding: 33px var(--container);
  }
}

@media screen and (max-width:425px) {
  .cover {
    gap: 16px;
  }
}
