.place__link {
  font-size: 18px;
  line-height: 1.22;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  -webkit-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
}

.place__link:hover {
  opacity: .8;
}
