.footer__list-item {
  margin-right: 18px;
  display: inline-block;
}

.footer__list-item:last-child {
  margin-right: 0;
}

@media screen and (max-width:767px) {
  .footer__list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__list-item:last-child {
    margin-bottom: 0;
  }
}
